
<ion-header>
  <ion-toolbar>
    <ion-title>DATA</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
<ion-grid>
  <ion-row > 
    <ion-col >
  <ion-card *ngFor="let item of UserData">
    <img src="{{item.image}}">
    <ion-card-content>
      <ion-card-title>{{item.service}}</ion-card-title>
      <ion-card-subtitle>{{item.rate}}</ion-card-subtitle>
      <ion-card-title>
        <ion-badge class="dis" color="warning">{{item.discount}} </ion-badge>
      </ion-card-title>
      <ion-card-title class="offer">{{item.offer}}</ion-card-title>
      <ion-button fill="outline" (click)="addtocart(item)">ADD Service</ion-button>
    </ion-card-content>
  </ion-card> 
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-tabs> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashbord">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>



    <!-- <ion-tab-button routerLink="/wishlist">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button> -->

    <ion-tab-button routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon> 
      <ion-label>QR</ion-label>
    </ion-tab-button>



    <ion-tab-button routerLink="/account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/booked">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Bag</ion-label>
      <ion-badge>{{totalItem}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar> 
</ion-footer>