<ion-header>
  <ion-toolbar>  
      <ion-menu-button main="menu" slot="start"></ion-menu-button>

    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container" *ngFor="let user of UserData">
  <img src="{{user.qr}}">
  <h3>{{user.name}}</h3>
</div>


</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/dashbord">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>


<!--     
    <ion-tab-button routerLink="/wishlist">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button> -->

    <ion-tab-button routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>



    <ion-tab-button routerLink="/account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/booked">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Bag</ion-label>  
      <ion-badge>{{totalItem}}</ion-badge>


    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>