  <ion-toolbar>
    <ion-menu-button main="menu" slot="start"></ion-menu-button>

    <ion-title>Invoice</ion-title>
  </ion-toolbar>

<ion-content>
<div class="div1">  

<h2>Shivanibxgnghfncg Borkar</h2>
 <h6>shivaniborkafvfgtfkhr#1@gmail.com</h6>
<p >5234677285571</p>
</div>

<div>
  <ion-card class="card2">
    <ion-card-title>Recent Invoice</ion-card-title>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="col1">Discription</ion-col>
          <ion-col class="col1">Discount</ion-col>
          <ion-col class="col1">Price</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Hair Spa</ion-col>
          <ion-col>10%</ion-col>
          <ion-col >3000</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Hair Cut</ion-col>
          <ion-col>20%</ion-col>
          <ion-col >200</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>facial</ion-col>
          <ion-col>10%</ion-col>
          <ion-col >500</ion-col>
        </ion-row>
        <hr color="waring">
        <div>
          <ion-item>Sub Total<ion-label slot="end">3700</ion-label></ion-item>
          <ion-item>Service Fee<ion-label slot="end">30</ion-label></ion-item>
          <ion-item>Discount<ion-label slot="end">200</ion-label></ion-item><hr color="waring">
          <ion-item>Total<ion-label slot="end">3530</ion-label></ion-item>


        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>


  <ion-grid>
    <ion-row >
      <ion-col>
  <ion-card class="card1">
    <h3>Previous Invoice</h3>
    <ion-icon name="newspaper-outline"></ion-icon>
  </ion-card>
</ion-col>
<ion-col>
  <ion-card class="card1">
    <h3>Previous Payment</h3>
    <ion-icon name="card-outline"></ion-icon>
  </ion-card>
 

</ion-col>
</ion-row>
</ion-grid>

</ion-content>
